@import "tailwindcss";

:root {
  background-color: #020617;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top right, #1e1b4b, #020617);
  background-attachment: fixed;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: #f1f5f9;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}